.table-stats {
  margin-top: 15px;
  margin-bottom: 5px;
}

.table-stats > input {
  margin-right: 10px;
}

.demo-table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 30px;
}

.demo-table th,
.demo-table td {
  border: 1px solid #444;
  padding: 8px;
}

.demo-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.demo-table tbody tr:hover {
  outline: 2px solid #444;
  outline-offset: -2px;
}

.demo-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0028ffc9;
  color: white;
}

th.username-column {
  width: 200px;
}

th.undo-column {
  width: 45px;
}

td.remove-cell {
  text-align: center;
}

.demo-table > tbody > tr.is-dirty {
  background-color: #eff2ff;
}

.demo-table > tbody > tr.is-new {
  background-color: #fff23e;
}

.demo-table > tbody > tr.is-removed {
  background-color: #fa1a0a;
}

.demo-table > tbody > tr > td.is-dirty {
  background-color: #dce4ff;
}

.demo-table input.is-dirty {
  background-color: #dce4ff;
}

input.integer-input {
  width: 50px;
}

input.name-input {
  width: 70px;
}

input.name-input:first-child {
  margin-right: 5px;
}

.debug-table {
  border-collapse: collapse;
  background-color: #f2f2f2;
}

.debug-table th,
.debug-table td {
  font-size: 12px;
  font-family: monospace;
  border: 1px solid #444;
  padding: 4px;
}
